.sectionFiche {
    height: 100vh;
    width: calc(100vw - 130px);
}

.sectionFiche header {
   color: #04009A;
   display: flex;
   padding: 20px 50px;
   border-bottom: 1px solid #E6E6F5
}

.sectionFiche header h1 {
    font-size: 1.8rem
}

.sectionFiche header img:nth-of-type(1) {
    margin-left: 20px
}

.sectionFiche header img:nth-of-type(2) {
    margin-left: auto
}

.sectionFiche main > div:nth-of-type(1) {
    padding: 40px 50px 0 50px;
    display: flex;
    border-bottom: 1px solid #E6E6F5
}

.sectionFiche main > div:nth-of-type(1) > h2 {
    margin: 0;
    font-size: 1.2rem;
    margin-right: 30px;
    height: 40px;
    cursor: pointer
}
.sectionFiche main > div:nth-of-type(1) > h2:nth-of-type(1) {
    color: #04009A;
    border-bottom: 3px solid #04009A
}
.sectionFiche main > div:nth-of-type(1) > h2:nth-of-type(2) {
    color: #8180CC
}

.sectionFiche main > article > p {
    font-weight: 800;
    margin: 0;
    padding: 30px 0 20px 50px
}