.sectionFiche main > article {
    height: calc(100vh - 220px);
    overflow-y: scroll
}

.sectionFiche main > article > div {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sectionFiche main > article > div > div {
    width: 330px;
    border: 1px solid #E6E6F5;
    margin: 10px 0
}

.sectionFiche main > article > div > div > div:nth-of-type(1) {
    width: 330px;
    height: 180px;
    background-image: url('../../assets/cendrier-sondage-greenminded\ 1.png');
    background-position: center;
    background-size: cover
}

.sectionFiche main > article > div > div > h1 {
    margin-left: 20px;
    margin-bottom: 5px
}

.sectionFiche main > article > div > div > p {
    font-size: 0.8rem;
    margin: 0 0 0 20px
}

.sectionFiche main > article > div > div > div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px 20px 20px;
}

.sectionFiche main > article > div > div > div:nth-of-type(2) > span {
    padding: 4px 6px;
    border-radius: 10px;
    font-size: 0.7rem;
}

.sectionFiche main > article > div > div > div:nth-of-type(2) > span:nth-of-type(1){
    color: rgba(100, 200, 50, 1);
    font-weight: bold;
    background-color: rgba(100, 200, 50, 0.2);
}

.sectionFiche main > article > div > div > div:nth-of-type(2) > span:nth-of-type(2){
    color: rgba(200, 50, 100, 1);
    font-weight: bold;
    background-color: rgba(200, 50, 100, 0.2);
}

.sectionFiche main > article > div > div > div:nth-of-type(2) > span:nth-of-type(3){
    color: rgba(50, 100, 200, 1);
    font-weight: bold;
    background-color: rgba(50, 100, 200, 0.2);
}

.sectionFiche main > article > div > div > div:nth-of-type(3) {
    display: flex;
    height: 50px;
    border-top: 1px solid #E6E6F5;
}

.sectionFiche main > article > div > div > div:nth-of-type(3) > span {
    height: 50px;
    border-right: 1px solid #E6E6F5;
    line-height: 50px;
    width: 33.33333333333%;
    text-align: center;
    color: #04009A;
    font-weight: bold
}
.sectionFiche main > article > div > div > div:nth-of-type(3) > span:nth-of-type(3) {
    border-right: 0;
}